body {
	text-align: center;
}


ul {
  background-color: green;
  margin: 10px;
  padding: 30px;
}

li {
  background-color: red;
  display: inline-block;
  padding: 10px;
}

.box {
	display: inline-block;
	width: 40%;
}

img {
	width: 60%;
	margin: 10px;
	padding: 10px;
}

.html {
	background-color: #2BA8E0;
}

.css {
	background-color: #EE6526; 
}

#ALAINBREEZE{
	background-color: orange;
	margin: 10px;
	height: 100px;
	padding: 5px; 
	border-radius: 50%;
}

#NGWABENARDINE{
	background-color: gray;
	height: 100px;
	padding: 10PX;
	border-radius: 50%;

}

p{
	 /*padding-top: 40px;*/
	 background-color: pink;
	 height: 50px;
	 padding: 5px;
	border-radius: 60%;
}